* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(fundo-abstrato-azul-aco-claro_53876-101914.avif);
    background-size: cover;
    background-position: center;
}

.container{
  width: 420px;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, .2);
  color: rgb(0, 0, 0);
  padding: 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 40px;
}

.container h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
    height: 150px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.418);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.input-box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lembrar_senha {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.lembrar_senha label input {
    accent-color: #ffffff;
    outline: none;
    margin-right: 5px;
}

.lembrar_senha a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.lembrar_senha a:hover {
    text-decoration: underline;
}

.Login {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 40px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.418);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.register-link {
    text-align: center;
    margin: 20px 0 15px;
    font-size: 16px;
}

.register-link a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.register-link a:hover {
    text-decoration: underline;
}